@import '../style/variables.scss';

.project-summary {
  // border: 1px solid red;
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  text-align: center;

  @include bp(supersport) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  @include bp(motogp) {
    flex: 0 0 33%;
    max-width: 33%;

    &:first-of-type,
    &:nth-of-type(2){
      flex: 0 0 50%;
      max-width: 50%;
      // flex-wrap: nowrap;
      margin: 1rem 0;
    }
  }

  h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
  }
  @include bp(motogp) {
      h3 {
          font-size: 1.8rem;
      }
  }
  h3 a {
      color: rgba(207,20,43, 1);
  }

  .project-thumb {
      align-self: center;
      width: 25rem;
      max-width: 50%;
      height: auto;
      margin-bottom: 1rem;
      border-radius: 50%;
      /* box-shadow: 0 0 3rem 0.5rem rgba(0,0,0,0.2); */
      transition: all 0.5s ease-in-out;
      opacity: 0.4;
  }
  .project-thumb:hover {
      width: 30rem;
      max-width: 100%;
      height: auto;
      border-radius: 0.4rem;
      box-shadow: 0 0 3rem 0.5rem rgba(0,0,0,0.2);
      opacity: 1;
  }
  h3,
  p,
  li {
      text-align: left;
  }
  p {
    @include leaderP;

    @include bp(supersport) {
        @include leaderP(1rem)
    }
    @include bp(superbike) {
        @include leaderP(1.1rem)
    }
  }
  ul {
      list-style: none;
      padding-left:  0;
      margin-left: 0;
  }
  li {
    @include listItem;
    display: flex;
    justify-content: start;

    @include bp(supersport) {
        @include listItem(1rem)
    }
    @include bp(superbike) {
        @include listItem(1.1rem)
    }

  }
  li svg {
      min-width: 4rem;
      font-size: 3rem;
  }
  li span {

  }
  h3 .beta {
      display: inline-flex;
      color: rgba(255,255,255,0.4);
      font-family: 'Ubuntu', sans-serif;
      font-size: 1rem;
      font-weight: 100;
      text-transform: uppercase;
      transform: rotate(-20deg);
      transition: all 0.4s ease-in-out;
  }
  h3:hover .beta {
      color: rgba(255,255,255,0.8);
      transform: rotate(5deg);
  }
}
