$white: #fff;
$mainColor: #00444c;
$mainColorDark: #001f23;
$accentColor: #cf142b;
$linkO: 0.9; // anchor opacity
$hoverO: 0.7; // :hover opacity

$mainCopyColor: $white;
$mainLink: rgba($white, $linkO);
$mainLinkHover: rgba($white, $hoverO);
$accentLink: rgba($accentColor, $linkO);
$accentLinkHover: rgba($accentColor, $hoverO);
$navLink: $mainLink;
$navLinkHover: $accentLinkHover;
