@import './style/variables.scss';

header {
    background: rgba($mainColorDark, 0.8);
    position: sticky;
    top: 0;
    grid-column: span 12;
    height: 10vh;
    width: 100vw;
    max-width: 100%;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.6rem;
}
