// site layout
@import './style/theme.scss';

html,
body {
    @include bodyProperties;
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin:  0;

    section {
        grid-area: body;
    }
    aside {
        grid-area: sidebar;
    }

    article {
        display: grid;
        grid-template-columns: 2fr 8fr 2fr;
        // grid-template-rows: 1fr;
        grid-template-areas:
            "... body ...";
        height: 100vh;
        max-height: 100vh - 10vh;

        @include bp(lightweight) {
            // grid-template-columns: 1fr;
            grid-template-areas:
                "body body body"
        }
    }
    section {
        display: flex;
        align-content: center;
        justify-content: space-between;
        // height: (100vh - 20vh);
        // max-height: 100%;
        // padding-top: 8vh;
        @include bp(lightweight) {
            flex-wrap: wrap;
        }
        &#home {
            // grid-template-columns: auto 60% auto;
            text-align: center;
        }
        &#projects {
            // grid-template-columns: 1fr 1fr 1fr;
            align-content: flex-start;
            padding-bottom: 10vh;
        }
    }
}
