
@import './style/theme.scss';

nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 10vh;

  @include bp(lightweight) {

  }

  .brand {
    width: 50vw;
    max-width: 300px;
  }
  .site-nav {

  }

  .nav-items {
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    height: 100%;

    a {
      padding: 1rem;
    }
  }
}
