@import './style/variables.scss';

.navbar,
.navbar.navbar-dark,
.navbar.bg-dark {
    height: $headerHeight;
    background-color: rgba(0, 31, 35, 0);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0);
    font-size: 1.5rem;
    transition: box-shadow 0.3s ease-in-out, background-color 0.5s ease-in-out, height 0.5s 0.5s ease-in-out;
}
.navbar-collapse {
    /* background-color: rgba(0, 31, 35, 0.86); */
    transition: height 0.4s ease-in-out, background-color 0.2s ease-out;
}
.navbar-collapse.show {
    background-color: rgba(0, 31, 35, 0.96);
}
.navbar-dark .navbar-brand {
    font-family: 'Roboto Slab', sans-serif;
    font-display: swap;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
}
.navbar-dark .navbar-brand:hover {
    color: rgba(207,20,43, 1);
}
.navbar.sticky {
    background-color: rgba(0, 31, 35, 0.90);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
    // height: 5.6vh;
    font-size: 1.3rem;
}
@include bp(supersport) {
    .navbar + header {
        padding-top: 130px;
    }
    .navbar.sticky {
        height: $headerHeight;
        font-size: 1.5rem;
    }
}
.navbar .navbar-nav .nav-link {
    color: rgba(255, 255, 255,0.8);
    font-family: 'Roboto Slab', sans-serif;
    font-display: swap;
    font-weight: bold;
    padding: 1rem 1.5rem;
}
.navbar .navbar-nav .nav-link:hover {
    color: rgba(207,20,43, 1);
}
